body {
    font-family: 'Courier New', Courier, monospace;
}


.calculator {
    background-color: #4F6F52;
    padding: 1em;
    border-radius: 1em;
    color: #ECE3CE;
}

button {
    width: 3em;
    height: 3em;
    background-color: white;
    border-radius: 0.5em;
    border-style: none;
    margin: 0.25em;
    font-size: 2em;
    font-weight: 700;
}

#displayNumberBox {
    background-color: green;
    padding: 0.5em;
    border-radius: 0.5em;
    text-align: end;
    font-size: 2em;
    margin: 0.25em;
}

.button-row {
    display: flex;
    justify-content: center;
}

